.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--dark-s-color);
  margin-bottom: 20px;
}

.nav {
  align-self: flex-start;
}

.link {
  display: inline;
  position: relative;
  color: var(--light-s-color);
  padding: 0 5px;
}

.active::after {
  position: absolute;
  bottom: -3px;
  left: 5px;
  content: '';
  width: calc(100% - 10px);
  height: 2px;
  background-color: var(--light-s-color);
}

.hidden {
  display: none;
}